@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --soft-periwinkle: #d6dae8;
  --cloud-white: #f4f6fa;
  --mindly-purple: #6b5eff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cloud-white: var(--cloud-white);
  --color-mindly-purple: var(--mindly-purple);
  --color-soft-periwinkle: var(--soft-periwinkle);
  --color-night: #0b090a;
  --color-lemon: #c3ff49;
  --color-grey-1000: #0a0a0a;
  --color-grey-900: #121112;
  --color-grey-800: #1b1819;
  --color-grey-700: #262424;
  --color-grey-600: #3c3839;
  --color-grey-500: #534d4e;
  --color-grey-400: #797072;
  --color-grey-300: #b8b2b3;
  --color-grey-200: #d6d2d3;
  --color-grey-100: #e3e1e1;
  --color-grey-50: #edebec;
  --color-grey-0: #ffffff;
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
